/*colors and fonts*/

h1{font-family: Clarendon;
color: 212121}
h2{font-family: Clarendon;
color: 212121;}

p, li; a {font-family: Rubik;}

body {background-color: #F8F0DF;
text-align: center;}

div{background: white;
margin: 90px 90px;
margin-top:50px;
margin-bottom: 50px;
padding: 10px;
box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
}

a {color: #C36A2D;
text-decoration: none;
transition: color O.3s ease;}
a:hover {color: #FF0000}

#photo {border-radius: 150%;}

@media (max-width: 960px) {
	.container {
    width: 700px;
  }
}
@media (max-width: 720px) {
	.container {
    width: 500px;
  }
}
@media (max-width: 540px) {
	.container {
    width: 300px;
  }
}